@model Models.DataModels.Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
            </div>
            <div class="row">
                <div class="col-6-md-3">
                    <button type="submit" class="btn btn-danger form-control">Delete</button>
                </div>
                <div class="col-6-md-3">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

